<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Главное меню</title>
</head>
<body>
    <h1>Главное меню</h1>
    <ul>
        <li><a href="/task1">Первая задача</a></li>
        <li><a href="/task2">Вторая задача</a></li>
        <li><a href="/task3">Третья задача</a></li>
    </ul>
    <!-- Выводим столбцы таблицы -->
    <h2>Данные таблицы:</h2>
    <div class="scrollable-table">
        <table>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
            {% for _, row in rows.iterrows() %}
                <tr>
                    {% for column in columns %}
                        <td>{{ row[column] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
<!-- Выводим словарь с описаниями переменных -->
    <h2>Описание переменных:</h2>
    <div class="centered_div">
        <dl>
            {% for variable, description in variable_descriptions.items() %}
                <dt>{{ variable }}</dt>
                <dd>{{ description }}</dd>
            {% endfor %}
        </dl>
    </div>
</body>
</html>