<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Вторая задача</title>
</head>
<body>
    <div class="task-container">
        <h1>Описание</h1>
        <p class="task-description">{{ description }}</p>

        <div class="plot-row">
            <div class="plot-container">
                <h2>График разделения на кластеры с помощью алгоритма DBSCAN</h2>
                <img src="{{ url_for('static', filename=plot_urls[5]) }}" alt="График dbscan">
            </div>
        </div>

        <div class="plot-row">
            <div class="plot-container">
                <h2>График метода локтя</h2>
                <img src="{{ url_for('static', filename=plot_urls[6]) }}" alt="График метода локтя">
            </div>
        </div>
        
        <!-- Тут должно быть пояснение про выбранное количество кластеров - типо тут линия становится наименее крутой-->
        <p class="task-description">{{ description_elbow }}</p>

        <div class="plot-row">
            <div class="plot-container">
                <h2>График разделения на кластеры с помощью алгоритма K-means</h2>
                <img src="{{ url_for('static', filename=plot_urls[7]) }}" alt="График k-means">
            </div>
        </div>

         <div class="conclusion_style">
            <h2>Вывод: </h2>
            <h4>{{ conclusion }}</h4>
        </div>
    </div>
</body>
</html>