<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Вторая задача</title>
</head>
<body>
    <p>{{ description }}</p>
    <label for="graph_dbscan">График кластеризации методом DBSCAN</label>
    <img id="graph_dbscan" src="{{ url_for('static', filename=plot_urls[5]) }}" alt="График dbscan">
    <label for="graph_elbow">График метода локтя</label>
    <img id="graph_elbow" src="{{ url_for('static', filename=plot_urls[6]) }}" alt="График метода локтя">
    <label for="graph_kmeans">График кластеризации методом K-means</label>
    <img id="graph_kmeans" src="{{ url_for('static', filename=plot_urls[7]) }}" alt="График kmeans">
</body>
</html>